//text colors
.text-primary {
  color: #000000;
}

.text-secondary {
  color: #6c6c6c;
}

.text-white {
  color: #ffffff;
}


//borders colors
.b-primary {
  border: 2px solid #000000 !important;
}

.b-secondary {
  border: 2px solid #6c6c6c !important;
}


//backgrounds colors
.bg-primary {
  background: #000;
}

.bg-secondary {
  background: #6c6c6c;
}

.bg-white {
  background: #ffffff;
}