@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  font-family: "Roboto", sans-serif; //300, 400 and 700 font-weights are available
  letter-spacing: .8px;
}

.fw-l {
  font-weight: 300;
}

.fw-r {
  font-weight: 400;
}

.fw-b {
  font-weight: 700;
}

@mixin fontCreate ($size, $coficent, $counts) {
  @for $count from 0 to $counts {
    .fs-#{$count} {
      font-size: $size * ($coficent * $count);
    }
  }
}

@include fontCreate(2.5rem, 0.1, 7);